# Local env files
.env*
!.env.example

# Next.js / Web
node_modules/
.next/
out/
build/
.vercel
*.log
tsconfig.tsbuildinfo

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Hardware/Build
main/config.h
/main/build/
/main/sketch/
*.bin
*.elf
*.o

# OS files
.DS_Store
Thumbs.db
